body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
    font-family: Arial, sans-serif;
  }

  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#scoreboard, #lives, #fps-counter, #timer {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    text-transform: uppercase;
}

  .grid {
    position : absolute;
    top:10%;
    display: grid;
    grid-template-columns: repeat(20, 30px); /* 20 colonnes */
    grid-template-rows: repeat(20, 30px);    /* 20 lignes */
    gap: 2px;
  }
  .cell {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
  }
  .wall {
    background-color: blue;
  }
  
  .wall-horizontal {
    border-top: 4px solid blue;
    border-bottom: 4px solid blue;
  }
  
  .wall-vertical {
    border-left: 4px solid blue;
    border-right: 4px solid blue;
  }
  
  .wall-corner-top-left {
    border-top-left-radius: 15px;
    border-top: 4px solid blue;
    border-left: 4px solid blue;
  }
  
  .wall-corner-top-right {
    border-top-right-radius: 15px;
    border-top: 4px solid blue;
    border-right: 4px solid blue;
  }
  
  .wall-corner-bottom-left {
    border-bottom-left-radius: 15px;
    border-bottom: 4px solid blue;
    border-left: 4px solid blue;
  }
  
  .wall-corner-bottom-right {
    border-bottom-right-radius: 15px;
    border-bottom: 4px solid blue;
    border-right: 4px solid blue;
  }
  
  .wall-top-end {
    border-top: 4px solid blue;
  }
  
  .wall-bottom-end {
    border-bottom: 4px solid blue;
  }
  
  .wall-left-end {
    border-left: 4px solid blue;
  }
  
  .wall-right-end {
    border-right: 4px solid blue;
  }
  
  .wall-intersection {
    border: 4px solid blue;
  }
  
  .wall-single {
    background-color: blue;
  }
  
  .path {
    background-color: black;
  }
  .point {
    background-color: black;
    position: relative;
  }
  .point::after {
    content: '';
    width: 7px;
    height: 7px;
    background-color: rgb(245, 180, 17);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .power-up{
    background-color: black;
    position: relative;
  }

  .power-up::after {
    content: '';
    width: 14px;
    height: 14px;
    background-color: rgb(245, 180, 17);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .pacman {
    background-image: url('./img/pacman/pacman_whole.png');
    background-size: cover;
  }
  
  .pacman-right-1 {
    background-image: url('./img/pacman/pacman_1_right.png');
    background-size: cover;
  }
  
  .pacman-right-2 {
    background-image: url('./img/pacman/pacman_2_right.png');
    background-size: cover;
  }
  
  .pacman-right-3 {
    background-image: url('./img/pacman/pacman_whole.png');
    background-size: cover;
  }
  
  .pacman-left-1 {
    background-image: url('./img/pacman/pacman_1_left.png');
    background-size: cover;
  }
  
  .pacman-left-2 {
    background-image: url('./img/pacman/pacman_2_left.png');
    background-size: cover;
  }
  
  .pacman-left-3 {
    background-image: url('./img/pacman/pacman_whole.png');
    background-size: cover;
  }
  
  .pacman-up-1 {
    background-image: url('./img/pacman/pacman_1_top.png');
    background-size: cover;
  }
  
  .pacman-up-2 {
    background-image: url('./img/pacman/pacman_2_top.png');
    background-size: cover;
  }
  
  .pacman-up-3 {
    background-image: url('./img/pacman/pacman_whole.png');
    background-size: cover;
  }
  
  .pacman-down-1 {
    background-image: url('./img/pacman/pacman_1_bottom.png');
    background-size: cover;
  }
  
  .pacman-down-2 {
    background-image: url('./img/pacman/pacman_2_bottom.png');
    background-size: cover;
  }
  
  .pacman-down-3 {
    background-image: url('./img/pacman/pacman_whole.png');
    background-size: cover;
  }

  .enemy-red {
    background-image: url('./img/enemies/red_left.png');
    background-size: cover;
  }

  .enemy-red-top {
    background-image: url('./img/enemies/red_top.png');
    background-size: cover;
  }

  .enemy-red-left {
    background-image: url('./img/enemies/red_left.png');
    background-size: cover;
  }

  .enemy-red-right {
    background-image: url('./img/enemies/red_right.png');
    background-size: cover;
  }

  .enemy-red-bottom {
    background-image: url('./img/enemies/red_bottom.png');
    background-size: cover;
  }
  
  .enemy-pink {
    background-image: url('./img/enemies/pink_left.png');
    background-size: cover;
  }

  .enemy-pink-top {
    background-image: url('./img/enemies/pink_top.png');
    background-size: cover;
  }

  .enemy-pink-left {
    background-image: url('./img/enemies/pink_left.png');
    background-size: cover;
  }

  .enemy-pink-right {
    background-image: url('./img/enemies/pink_right.png');
    background-size: cover;
  }

  .enemy-pink-bottom {
    background-image: url('./img/enemies/pink_bottom.png');
    background-size: cover;
  }

  .enemy-orange-top {
    background-image: url('./img/enemies/orange_top.png');
    background-size: cover;
  }

  .enemy-orange-left {
    background-image: url('./img/enemies/orange_left.png');
    background-size: cover;
  }

  .enemy-orange-right {
    background-image: url('./img/enemies/orange_right.png');
    background-size: cover;
  }

  .enemy-orange-bottom {
    background-image: url('./img/enemies/orange_bottom.png');
    background-size: cover;
  }

  .enemy-green-top {
    background-image: url('./img/enemies/green_top.png');
    background-size: cover;
  }

  .enemy-green-left {
    background-image: url('./img/enemies/green_left.png');
    background-size: cover;
  }

  .enemy-green-right {
    background-image: url('./img/enemies/green_right.png');
    background-size: cover;
  }

  .enemy-green-bottom {
    background-image: url('./img/enemies/green_bottom.png');
    background-size: cover;
  }
  
  .enemy-blue {
    background-image: url('./img/enemies/invincible_1.png');
    background-size: cover;
  }

  .enemy-white {
    background-image: url('./img/enemies/invincible_2.png');
    background-size: cover;
  }

  #scoreboard {
    position: absolute;
    top: 5%;
    left: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

#lives {
  position: absolute;
  top: 90%;
  left: 10px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

#timer {
  position: absolute;
  top: 90%;
  right: 10px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

#fps-counter {
  position: absolute;
  top: 5%;
  right: 10px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

/* Pause Menu Styles */
#pause-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}

#pause-menu h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  margin-bottom: 20px;
}

#pause-menu button {
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  background-color: yellow;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#pause-menu button:hover {
  background-color: orange;
}

.hidden {
  display: none;
}

/* Main Menu Styles */
#main-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}

#main-menu h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  margin-bottom: 20px;
}

#main-menu button {
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  background-color: yellow;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#main-menu button:hover {
  background-color: orange;
}

.grid.hidden {
  visibility: hidden;
}